---
import Layout from '@/layouts/Layout.astro';
import BlogPosts from '@/components/BlogPosts.astro'
import test from  '@/pages/posts/test.md'
import Article from '@/components/article-1.astro'
import { Section, SectionContent, SectionProse } from "@/components/ui/section"
import Blogposts from '@/components/blogposts.astro';

import Temporary from '@/components/Temporary.astro';
import TemporaryLayout from '@/layouts/TemporaryLayout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Section class="bg-slate-900">
		<SectionContent>
			<SectionProse class="text-white">
				<h1>I'm Robin, also known as Fidva / DJ ROUGE GORGE!</h1>
				<p>This website is my portfolio and showcases who I am, and what I'm working on. You can learn more about me 
					<a href="about" class="text-white! font-bold">here</a> 
					and navigate throught the opther pages to know more about my works anc contact me.</p>
				<p>Here, you can access <a href="blog" class="text-white! font-bold">my different blog posts</a>.</p>
				<p class="font-bold text-red-200">The website is in progress, and more pages will be added in the future.</p>
			</SectionProse>
		</SectionContent>
	</Section>
</Layout>

{/*<TemporaryLayout>
	<Temporary />
</TemporaryLayout>*/}