---
import Layout from '@/layouts/Layout.astro';
import Post from '@/components/Post.astro'
import { Section, SectionContent, SectionProse } from "@/components/ui/section"
const allPosts = Object.values(import.meta.glob('./../pages/posts/*.md', { eager: true }));
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime());
---

<Section class="bg-slate-900 text-white">
    <SectionContent class="text-white">
        <SectionProse class="text-white">
            <h2>Blog Posts</h2>
            <ul class="text-white">
                {sortedPosts.map((post: any) => <Post class="text-white" url={post.url} title={post.frontmatter.title} />)}
            </ul>
        </SectionProse>
    </SectionContent>
</Section>